div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.title {
    margin-left: 30px;
}

.email {
    margin-left: 30px;
}

.email-typing {
    width: 280px;
    height: 25px;
    border-radius: 3px;
}

.firstname {
    margin-left: 30px;
    width: 20%;
    display: inline-block;
}

.firstname-typing {
    width: 130px;
    height: 25px;
    border-radius: 3px;
}

.lastname {
    margin-left: 30px;
    display: inline-block;
}

.lastname-typing {
    width: 130px;
    height: 25px;
    border-radius: 3px;
}

.message {
    margin-left: 30px;
}

.message-typing {
    width: 280px;
    height: 100px;
}

.button {
    margin-top: 8px;
}

.check {
    margin-left: 30px;
    display: inline-block;
    color: grey;
}

.subscribe {
    font-size: 13px;
    display: inline;
}

.sumbit {
    background-color: orange;
    margin-left: 100px;
    width: 100px;
    height: 25px;
    font-size: 12px;
    color: white;
}