body {
    background: skyblue;
}

table,
th,
tr,
td {
    vertical-align: middle;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;
}

th,
td {
    padding: 5px;
}

.item {
    vertical-align: middle;
}

.amount {
    text-align: right;
}

.price {
    text-align: left;
}

.total {
    text-align: left;
}

.dasd {
    width: 125px;
}

.button {
    inline-size: ;
    background-color: blue;
    color: white;
    border-radius: 5px;
}