.main-background {
    width: 100%;
    height: 500px;
    background-image: url(shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 1px;
}

.main-content {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: ;
}

button {
    margin-top: 330px;
}